#javascript-target, #react-root {
    margin: 2rem 0;
    border: 1px solid white;
    padding: 1rem;
}

#react-root > section {
    display: grid;
    gap: 1rem;
    justify-content: start;
}

#css-test {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: salmon;
    offset-path: path('M 0,0 h 200 v100 h-200 z');
    animation: orbit linear 5s infinite;
}

@keyframes orbit {
    to {
        offset-distance: 100%;
    }
}
