[id$="digit"] {
  padding: 1em;
  background: white;
  display: block;
  width: max-content;
}
[class$="digit"] {
  margin: 0;
  display: inline-block;
  padding: 0;
  width: 10ch;
}

[class$="digit"] > line {
  stroke: black;
  stroke-width: 10;
  stroke-linecap: round;
}

.css-digit > line {
  opacity: 0.1;
  transition: opacity 0.2s;
}
.css-digit[data-digit="0"] > :not(.middle) {
  opacity: 1;
}
.css-digit[data-digit="1"] > :-webkit-any(.top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="1"] > :-moz-any(.top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="2"] > :-webkit-any(.top, .top-right, .middle, .bottom-left, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="2"] > :-moz-any(.top, .top-right, .middle, .bottom-left, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="3"] > :-webkit-any(.top, .top-right, .middle, .bottom-right, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="3"] > :-moz-any(.top, .top-right, .middle, .bottom-right, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="4"] > :-webkit-any(.top-left, .middle, .top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="4"] > :-moz-any(.top-left, .middle, .top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="5"] > :-webkit-any(.top, .top-left, .middle, .bottom-right, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="5"] > :-moz-any(.top, .top-left, .middle, .bottom-right, .bottom) {
  opacity: 1;
}
.css-digit[data-digit="6"] > :not(.top-right) {
  opacity: 1;
}
.css-digit[data-digit="7"] > :-webkit-any(.top, .top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="7"] > :-moz-any(.top, .top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="8"] > * {
  opacity: 1;
}
.css-digit[data-digit="9"] > :-webkit-any(.middle, .top-left, .top, .top-right, .bottom-right) {
  opacity: 1;
}
.css-digit[data-digit="9"] > :-moz-any(.middle, .top-left, .top, .top-right, .bottom-right) {
  opacity: 1;
}
