.months, .articles {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
}

.months {
    grid-gap: 2rem;
}

.month > time {
    font-size: 2em;
    display: block;
    margin-bottom: 0.5rem;
}

.article a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
}

.article article {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
