:root {
    background-color: black;
    color: white;
    font-family: "Ubuntu", sans-serif;
    animation: 0.5s fade-in;
}

main {
    max-width: 100ch;
    margin: auto;
}

pre {
    display: grid;
}

pre > code {
   background-color: #002b36;
   color: #839496;
   display: block;
   overflow-x: auto;
   padding: 1rem;
   border-radius: 0.5rem;
}

h1 + time {
    display: block;
    color: lightslategray;
    margin-block-start: -0.5rem;
}

:any-link {
    color: cyan;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
